body[data-theme='yellow'] #page-links a.active {
    color: #FAD71A;
}

body[data-theme='yellow'] h2 {
    color: #FAD71A;
}

body[data-theme='yellow'] .btn {
    background: #FAD71A;
}

body[data-theme='yellow'] .btn:hover {
    background: #FAD71A;
}

body[data-theme='yellow'] #schedule-controls a.active {
    background-color: #FAD71A;
}

body[data-theme='yellow'] .schedule-tab h3 span,
body[data-theme='yellow'] .page-caption h3 span {
    color: #FAD71A;
}

body[data-theme='yellow'] a.page-control {
    color: #FAD71A;
}

body[data-theme='yellow'] .favorite {
    color: #FAD71A;
}

body[data-theme='yellow'] .session-everyone {
    border-bottom-color: #FAD71A;
}

body[data-theme='yellow'] #show-full-schedule {
    color: #FAD71A;
}


