body.theme-yellow #page-links a.active {
    color: #FAD71A;
}

body.theme-yellow h2 {
    color: #FAD71A;
}

body.theme-yellow .btn {
    background: #FAD71A;
}

body.theme-yellow .btn:hover {
    background: #FAD71A;
}

body.theme-yellow #schedule-controls a.active {
    background-color: #FAD71A;
}

body.theme-yellow .schedule-tab h3 span,
body.theme-yellow .page-caption h3 span {
    color: #FAD71A;
}

body.theme-yellow a.page-control {
    color: #FAD71A;
}

body.theme-yellow .favorite {
    color: #FAD71A;
}

body.theme-yellow .session-everyone {
    border-bottom-color: #FAD71A;
}

body.theme-yellow #show-full-schedule {
    color: #FAD71A;
}


