body.theme-purple #page-links a.active {
    color: #801D6B;
}

body.theme-purple h2 {
    color: #801D6B;
}

body.theme-purple .btn {
    background: #801D6B;
}

body.theme-purple .btn:hover {
    background: #801D6B;
}

body.theme-purple #schedule-controls a.active {
    background-color: #801D6B;
}

body.theme-purple .schedule-tab h3 span,
body.theme-purple .page-caption h3 span {
    color: #801D6B;
}

body.theme-purple a.page-control {
    color: #801D6B;
}

body.theme-purple .favorite {
    color: #801D6B;
}

body.theme-purple .session-everyone {
    border-bottom-color: #801D6B;
}

body.theme-purple #show-full-schedule {
    color: #801D6B;
}


